# Zensusergebnisse für Bundestagswahlkreise

In [1]:
import pandas as pd
import requests
import json

## Token erhalten/zurücksetzen bzw. Registrierung  
https://ergebnisse.zensus2022.de/datenbank/online#modal=login

### Check login credentials

In [15]:
BASE_URL = "https://ergebnisse.zensus2022.de/api/rest/2020/"

zor_token = "xxx_YOUR_TOKEN_HERE_xxx"

USERNAME = zor_token
PASSWORD = ""

langPref = "de"

headers = {
    'Content-Type': 'application/x-www-form-urlencoded',
    'username': USERNAME,
    'password': PASSWORD
    }

In [3]:
hello = requests.post(BASE_URL + 'helloworld/logincheck', 
    headers = headers,
    data = {
    'language': langPref
})
hello.json()["Status"]

'Sie wurden erfolgreich an- und abgemeldet! Bei mehr als 3 parallelen Requests wurden länger als 15 Minuten laufende Requests beendet.'

### Catalogue Service: Liste alle Tabellen mit dem Regionalmerkmal GEOWK1

In [4]:
tables = requests.post(BASE_URL + 'catalogue/tables2variable',
    headers = headers,
    data = {
    'name': 'GEOWK1',
    'language': langPref,
    'pagelength': 50
    })

In [5]:
btw25tables = pd.DataFrame(tables.json()["List"])

In [6]:
len(btw25tables)

46

In [11]:
btw25tables.tail(5)

,Code,Content,Time
41,4000W-1W19,Wohnungen: Miete der Wohnung (250 € - Schritte),15.05.2022 - 15.05.2022
42,4000W-1W20,Wohnungen: Miete der Wohnung (1 €/m²-Schritte),15.05.2022 - 15.05.2022
43,4000W-1W21,Wohnungen: Miete der Wohnung (2 €/m²-Schritte),15.05.2022 - 15.05.2022
44,4000W-1W22,Wohnungen: Dauer des Wohnungsleerstands,15.05.2022 - 15.05.2022
45,4000W-1W23,Wohnungen: Grund des Leerstands,15.05.2022 - 15.05.2022

In [13]:
def downloadTable(tableCode):

    dl = requests.post(BASE_URL + 'data/tablefile',
        headers = headers,
        data = {
            'name': tableCode,
            'format': 'ffcsv',
            'language': langPref
            })

    with open(tableCode+".zip", "wb") as f:
        f.write(dl.content)

In [35]:
for myCode in btw25tables["Code"]:
    downloadTable(myCode)